/**
 * xiaozhi93
 * 2017.02.07
 * @type {[type]}
 */
.main {
  height: 100%;
  max-width: 100%;
}

.oneitem {
  cursor: pointer;
}

.oneitem:first-child .onelink {
  background-color: #67ad03;
}

.oneitem:first-child .onelink:after {
  display: none;
}

.oneitem:first-child .onelink:hover {
  background-color: #67ad03;
}

.oneitem:first-child .onelink {
  color: #fff;
}

.onelink {
  position: relative;
  display: block;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  color: #969ba1;
}

.onelink .arrow {
  left: 9px;
}

.two {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s;
     -moz-transition: height .35s;
      -ms-transition: height .35s;
          transition: height .35s;
}

.twolink {
  position: relative;
  display: block;
  padding-left: 37px;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  color: #969ba1;
}

.twolink .arrow {
  left: 22px;
}

.three {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s;
     -moz-transition: height .35s;
      -ms-transition: height .35s;
          transition: height .35s;
}

.threelink {
  position: relative;
  display: block;
  padding-left: 49px;
  font-size: 12px;
  font-weight: 500;
  line-height: 35px;
  color: #969ba1;
}

.onelink:hover,
.twolink:hover,
.threelink:hover {
  color: #67ad03;
  background-color: #12181f;
}

.arrow {
  position: absolute;
  top: 50%;
  display: block;
  height: 16px;
  margin-top: -9px;
  font-weight: 500;
  line-height: 16px;
  -webkit-transition: -webkit-transform 0.35s;
     -moz-transition: -moz-transform 0.35s;
      -ms-transition: -ms-transform 0.35s;
          transition: transform .35s;
}

.cur {
  color: #fff;
}

.cur .arrow {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cur + .two,
.cur + .three {
  display: block;
}

.current {
  color: #67ad03;
  background-color: #12181f;
}

.current:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3px;
  height: 100%;
  background-color: #67ad03;
  content: "";
}

.current:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin-top: -6px;
  border-top: 6px solid transparent;
  border-right: 8px solid #ffffff;
  border-bottom: 6px solid transparent;
  content: "";
}

.unuse {
  color: #7f848b;
  background: #485059;
}

.untitle {
  padding-left: 25px;
  font-size: 14px;
  line-height: 50px;
}

.unitem {
  padding-left: 35px;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
}
