.dialogCont{
  margin: 0 30px;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  position: relative;
}
.dialogContTitle{
  padding: 10px 0;
  font-size: 18px;
  color:#666;
}

.tabMains{
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
}

.inputLabel{
  margin-bottom: 15px;
  display: block;
  position: relative;
}
.topMain{
  position: relative;
}

.topMainLeft{
  margin-right: 140px;
}
.topMainRight{
  position: absolute;
  top: 0;
  right: 30px;
}

.tags{
  position: absolute;
  left: 0;
  top: 7px;
  width: 80px;
  text-align: right;
  color:#666;
}

.inputDiv,.inputRadioDiv{
  padding-left: 80px;
  padding-right: 34px;
}
.inputDiv input{
  display: block;
  width: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-size: 14px
}
.inputRadioLabel{
  display: inline-block;
  margin-right: 10px;
  padding: 5px 5px;
}
.inputRadioLabel input{
  margin-right: 5px;
}

.defaultHeaderImg{
  background-image: url(../../../../static/images/head.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
}
.upHeadImg{
  position: relative;
  text-align: center;
  display: block;
  line-height: 30px;
  cursor: pointer;
  color:#0078b6;
  overflow:hidden;
}
.upHeadImgInput{
  opacity: 1;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;

}
