.form-horizontal,.form-vertical {
    padding: 30px;
    font-family: 'Microsoft yahei',Arial;
}

.form-title{
    color: #666;
    border-bottom: 1px solid #eee!important;
    font-size: 16px!important;
    padding-bottom: 10px!important;
    padding-left: 20px!important;
}

.form-group{
    margin-top:20px;
}

.form-control{
    border-radius: 0;
    height: 30px;
    width:100%;
    padding: 5px 12px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    vertical-align: middle;
    color: #333;
    font-family: 'Microsoft yahei',Arial;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*.form-control-date{
    width: 45%;
}*/

.form-control-label{
    display: inline-block;
    font-size: 14px;
    color: #666;
    padding-top: 7px;
    text-align: right;
}

.col-ls-1,
.col-ls-2,
.col-ls-4,
.col-ls-10{
    display: inline-block;
    padding-left:30px;
}
.col-ls-1{
    width: 8.333%;
}

.col-ls-2{
     width:16.667%;
 }

.col-ls-4{
    width: 33.333%;
}

.col-ls-10{
    width: 83.333%;
}

.btn-lg{
    width: 200px;
    height: 50px;
}

.btn-md{
    width: 120px;
    height:40px;
}

.btn-sm{
    width: 80px;
    height: 30px
}


textarea.form-control{
    height: auto;
}

.form-split-dash{
    width: 10%;
    text-align: center;
}

.form-control[disabled]{
    cursor: not-allowed;
    background-color: #eee;
}

.col-ls-offset{
    display: inline-block;
    margin-left: 8.333%;
    margin-top: 15px;
}

.form-inline-items{
    position: relative;
    color: #666;
    margin-right: 20px;
}

.form-block-items{
    display: block;
    margin-top: 7px;
    margin-bottom: 15px;
    color: #666;
}

.form-group-vertical:after,
.form-pic-info:after{
    clear: both;
    display: block;
    width: 0;
    height: 0;
    content: '.';
    visibility: hidden;
}

.form-group-vertical .form-control-label,
.form-group-vertical .col-ls-10 ,
.form-pic-show,
.form-pic-tips{
    float: left;
}

.form-pic-tips{
    margin-top: 30px;
    margin-left: 20px;
}

.form-pic-tips img{
    vertical-align: middle;
}

/*form-vertical*/
.form-vertical .col-ls-2,
.form-vertical .col-ls-4,
.form-vertical .col-ls-10{
    display: block;
    margin-top: 8px;
}

.form-vertical .form-control-label{
    text-align: left;
}

.form-vertical .form-split-dash{
    text-align: center;
}

.form-vertical .col-ls-inline{
    display: inline-block;
}

.form-sub-btn .btn{
    font-family: 'Microsoft yahei', Arial;
    margin-right: 20px;
}

.form-mr{
    margin-right: 10px;
}

.form-err-msg{
    margin-top: 4px;
    font-size: 12px;
}

.form-tip-msg{
    color: #999;
    text-align: right;
}

